[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group AOSP
	label-Code-Review = -2..+2 group approvers-platform-tools-base
[access "refs/heads/tools_r22.1"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[access "refs/tags/android-4.4_r1"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
	create = group AOSP
	forgeAuthor = group AOSP
	push = group AOSP
	pushMerge = group AOSP
	exclusiveGroupPermissions = pushMerge pushSignedTag
