[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-tools-base
[access "refs/heads/tools_r22.1"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[access "refs/heads/gradle_0.7"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/heads/gradle_0.8"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/heads/gradle_0.9"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/tags/gradle_0.9.0"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
[access "refs/tags/gradle_0.9.1"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
[access "refs/tags/gradle_0.9.2"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
[access "refs/heads/tools_r22.6"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/heads/gradle_0.10"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/tags/gradle_0.10.0"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
[access "refs/tags/*"]
	pushTag = group AOSP
	pushSignedTag = group AOSP
[access "refs/heads/gradle_0.11"]
	label-Verified = -1..+1 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
[access "refs/heads/idea133-milestone"]
	label-Code-Review = -2..+2 group devtools-dr-no-approvers
	label-Verified = -1..+1 group devtools-dr-no-approvers
	submit = group devtools-dr-no-approvers
[access "refs/heads/gradle-dev"]
	label-Code-Review = -2..+2 group approvers-platform-tools-base
	submit = group approvers-platform-tools-base
