local.properties
.idea
.gradle
lint-results
integration-test/samples/regular/*/build
integration-test/samples/manual/*/build
integration-test/samples/native/*/build
integration-test/samples/jack/*/build
integration-test/samples/regular/api/*/build
integration-test/samples/regular/applibtest/*/build
integration-test/samples/regular/assets/*/build
integration-test/samples/regular/attrOrder/*/build
integration-test/samples/regular/basic/lint-report*
integration-test/samples/regular/dependencies/jarProject/build
integration-test/samples/regular/dependencies/jarProject2/build
integration-test/samples/regular/embedded/*/build
integration-test/samples/regular/embedded/micro-apps/*/build
integration-test/samples/regular/flavoredlib/*/build
integration-test/samples/regular/flavorlib/*/build
integration-test/samples/regular/libMinifyJarDep/*/build
integration-test/samples/regular/libMinifyLibDep/*/build
integration-test/samples/regular/libsTest/*/build
integration-test/samples/regular/multiproject/*/build
integration-test/samples/regular/localAarTest/*/build
integration-test/samples/regular/localJars/*/build
integration-test/samples/regular/multiDexWithLib/*/build
integration-test/samples/regular/ndkJniLib/*/build
integration-test/samples/regular/ndkJniPureSplitLib/*/build
integration-test/samples/regular/packagingOptions/jars/*/build
integration-test/samples/regular/minifyLib/*/build
integration-test/samples/regular/renderscriptInLib/*/build
integration-test/samples/regular/sameNamedLibs/*/build
integration-test/samples/regular/sameNamedLibs/*/*/build
integration-test/samples/regular/tictactoe/*/build
integration-test/samples/manual/mavenLocal/*/build
integration-test/samples/manual/repo/*/build
integration-test/samples/manual/customArtifactDep/*/build
integration-test/samples/manual/3rdPartyTests/*/build
integration-test/samples/manual/flavorlibWithFailedTests/*/build
integration-test/samples/manual/shrink/*/build
integration-test/samples/manual/dependenciesWithVariants/*/build

integration-test/samples/native/ndkJniLib2/*/build
integration-test/samples/native/ndkStandaloneSo/*/build
integration-test/samples/native/ndkStl/*/build
