local.properties
.idea
gradle/build
.gradle
lint-results
tests/regular/*/build
tests/manual/*/build

tests/regular/api/*/build
tests/regular/applibtest/*/build
tests/regular/assets/*/build
tests/regular/attrOrder/*/build
tests/regular/basic/lint-report*
tests/regular/dependencies/jarProject/build
tests/regular/dependencies/jarProject2/build
tests/regular/flavoredlib/*/build
tests/regular/flavorlib/*/build
tests/regular/libProguardJarDep/*/build
tests/regular/libProguardLibDep/*/build
tests/regular/multiproject/*/build
tests/regular/localJars/*/build
tests/regular/ndkStandaloneSo/*/build
tests/regular/ndkJniLib/*/build
tests/regular/ndkJniLib2/*/build
tests/regular/proguardLib/*/build
tests/regular/renderscriptInLib/*/build
tests/regular/sameNamedLibs/*/build
tests/regular/sameNamedLibs/*/*/build
tests/regular/tictactoe/*/build

tests/manual/mavenLocal/*/build
tests/manual/repo/*/build


tests/customArtifactDep/*/build
tests/3rdPartyTests/*/build
tests/embedded/*/build
tests/flavorlibWithFailedTests/*/build
tests/libsTest/*/build
tests/localAarTest/*/build
tests/ndkStl/*/build
tests/packagingOptions/jars/*/build


