local.properties
.idea
.gradle
lint-results
integration-test/test-projects/*/build
integration-test/test-projects/jack/*/build
integration-test/test-projects/api/*/build
integration-test/test-projects/applibtest/*/build
integration-test/test-projects/assets/*/build
integration-test/test-projects/attrOrder/*/build
integration-test/test-projects/basic/lint-report*
integration-test/test-projects/dependencies/jarProject/build
integration-test/test-projects/dependencies/jarProject2/build
integration-test/test-projects/embedded/*/build
integration-test/test-projects/embedded/micro-apps/*/build
integration-test/test-projects/flavoredlib/*/build
integration-test/test-projects/flavorlib/*/build
integration-test/test-projects/libMinifyJarDep/*/build
integration-test/test-projects/libMinifyLibDep/*/build
integration-test/test-projects/libsTest/*/build
integration-test/test-projects/multiproject/*/build
integration-test/test-projects/localAarTest/*/build
integration-test/test-projects/localJars/*/build
integration-test/test-projects/multiDexWithLib/*/build
integration-test/test-projects/ndkJniLib/*/build
integration-test/test-projects/ndkJniPureSplitLib/*/build
integration-test/test-projects/packagingOptions/jars/*/build
integration-test/test-projects/minifyLib/*/build
integration-test/test-projects/renderscriptInLib/*/build
integration-test/test-projects/sameNamedLibs/*/build
integration-test/test-projects/sameNamedLibs/*/*/build
integration-test/test-projects/tictactoe/*/build
integration-test/test-projects/mavenLocal/*/build
integration-test/test-projects/repo/*/build
integration-test/test-projects/customArtifactDep/*/build
integration-test/test-projects/3rdPartyTests/*/build
integration-test/test-projects/flavorlibWithFailedTests/*/build
integration-test/test-projects/shrink/*/build
integration-test/test-projects/dependenciesWithVariants/*/build

integration-test/test-projects/ndkJniLib2/*/build
integration-test/test-projects/ndkStandaloneSo/*/build
integration-test/test-projects/ndkStl/*/build
